* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #FA3954;
	--yellow: #FFC400;
  --dark-yellow: #554935;
	--green: #00C21D;
  --dark-green: #224D4A;
	--blue: #42B4E6;
	--dark-blue: #224168;
	--orange: #FF8811;
	--purple-red: #AF0071;
	--purple: #581C66;
	--light-purple: #774B96;

  --gray: #92949F;
  --light-gray: #CCCDD0;
  --dark-gray: #5B5E68;

  --navy: #2b2e43;
  --light-navy: #343750;
  --dark-navy: #1C1E2D;

  --white: #ffffff;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.50%;
  }
}

body {
  background: var(--navy);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Work Sans', serif;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  height: 5rem;
  border-bottom: 1px solid var(--light-navy);
}

header .content {
  height: 5rem;
  margin: 0 auto;
  padding: 0 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .content nav {
  height: 5rem;
}

header .content nav a {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding: 0 0.5rem;
  height: 5rem;
  line-height: 5rem;
  color: var(--gray);

  transition: color 0.2s;
}

header .content nav a + a {
  margin-left: 5rem;
}

header .content nav a:hover {
  color: var(--white);
}

header .content nav a.active {
  color: var(--white);
}

header .content nav a.active::after {
  content: '';
  height: 0.35rem;
  width: 100%;
  position: absolute;
  bottom: 1px;
  left: 0;
  background-color: var(--green);
}

header .content .profile {
  height: 3rem;
  border-radius: 1.5rem;
  padding: 0.25rem 1rem 0.25rem 0.25rem;

  background-color: var(--light-navy);

  display: flex;
  align-items: center;
}

header .content .profile img,
header .content .profile svg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  margin-right: 1rem;
}

header .content .profile svg {
  color: var(--dark-navy);
}

header .content .profile a {
  margin-left: 1rem;
  color: var(--gray);

  transition: color 0.2s;
}

header .content .profile a:hover,
header .content .close a:hover {
  color: var(--white);
}

header .content .close a {
  color: var(--gray);

  transition: color 0.2s;
}

main {
  min-height: calc(100vh - 5rem);
  padding: 3rem;
}

main .splash {
  width: 100%;
  min-height: calc(100vh - 15rem);

  display: flex;
  align-items: center;
  justify-content: center;
}

main .splash .content {
  padding: 3rem 5rem;
  background-color: var(--light-navy);
  color: var(--gray);
  border-left: 0.35rem solid var(--green);
}

main .splash .content h1 {
  color: var(--white);
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

main .splash .content p {
  line-height: 2rem;
}

main .splash .content a {
  color: var(--white);
}

main .schedule {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 2rem;
}

main .schedule .aside {
  max-width: 28rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 2rem;
}

main .schedule .aside .box {
  padding: 2rem;

  background-color: var(--light-navy);
  border-radius: 1rem;
}

main .schedule .aside .box .title {
  height: 2rem;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  font-weight: 600;
  text-transform: uppercase;

  position: relative;
}

main .schedule .aside .box .title button {
  border: 0;
  height: 2rem;
  width: 2rem;
  background-color: var(--dark-green);
  color: var(--green);
  border-radius: 1rem;

  position: absolute;
  right: 0;
  top: 0;
}

main .schedule .aside .box ul {
  list-style: none;
  color: var(--gray);
}

main .schedule .calendar {
  padding: 2rem;
  min-width: 38rem;
  max-width: 48rem;

  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: auto auto;

  background-color: var(--light-navy);
  border-radius: 1rem;
}

main .schedule .calendar > div {
  padding: 0.5rem;
  min-height: 5rem;
  max-height: 6rem;

  background-color: var(--navy);
  border-radius: 1rem;

  overflow: hidden;
}

main .schedule .calendar > div.month {
  min-height: 0;
  height: 3rem;
  padding: 0 0 1rem 0;

  grid-column: 1 / span 7;

  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  background-color: transparent;
  border-radius: 0;
}

main .schedule .calendar > div.weekday {
  min-height: 0;
  padding: 0;

  background-color: transparent;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

main .schedule .calendar > div.noday {
  background-color: transparent;
}

main .schedule .calendar > div.sunday {
  background-color: var(--dark-green);
}

main .schedule .calendar > div.holyday {
  background-color: var(--dark-blue);
}
